* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}
.head-container {
    width: 100%;
    margin: left 10px;

}

.header {
    background-color: white;
    height: 100px;
    line-height: 100px;

}
.logo-img {
    width: 50px;
    padding-left: 10px;
    vertical-align: middle;
}
.logo-text {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

.button-container {
    display: flex;
    width: 700px;
    height: 50px;
    background-color: white;
    border-radius: 2%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.blu-button {
    background: white;
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    background-size: contain;

    
}

.white-button {
    background: white;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    background-size: contain;

}

.list-container {
    display: block;
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.task-list {
    list-style-type: none;
}

